@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$main-color: #fff;
$light-color: #65e496;
$linear-gradient: linear-gradient(150deg, #426384, #54b7a1);

body {
    font-family: "Roboto Slab", serif;
}

header {
    display: flex;
}

.wrap {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.page-main {
    background: $linear-gradient;
    color: $main-color;
    padding-bottom: 162px;
}

.page-about {
    margin-top: 160px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 35px 0 0 0;

    &__logo {
        display: block;
        width: 137px;
        height: 28px;
        background-image: url("../img/svg/Logo.svg");
        background-repeat: no-repeat;
    }

    &-list {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;

        &__link {
            color: $main-color;
            text-decoration: none;
        }

        &__item {
            box-sizing: border-box;
            height: 26px;
            transition: .3s;
            margin-left: 12px;
            margin-right: 11px;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            letter-spacing: 0.2px;
            border-bottom: 3px solid transparent;

            &.active {
                border-bottom: 3px solid $light-color;
            }

            &:hover {
                border-bottom: 3px solid $light-color;
            }

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

.block-text {
    flex-basis: calc(93% - 500px);

    &__name {
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        margin-top: 0;
        letter-spacing: 1.1px;
    }

    &__title {
        font-size: 48px;
        font-weight: 700;

        &--main-other-style {
            margin-bottom: 45px;
            margin-top: 30px;
            letter-spacing: 1.9px;
        }

        &--about-other-style {
            margin-top: 20px;
            color: #44444f;
            margin-bottom: 40px;
            letter-spacing: 1.5px;
        }

        span {
            display: block;
            color: $light-color;
            font-size: 18px;
            letter-spacing: 0.9px;
            margin-top: 10px;
        }
    }

    &__description {
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 24px;
        letter-spacing: 0.7px;

        &--color {
            color: #696980;
        }
    }

    &__btn {
        display: block;
        background-color: $light-color;
        color: $main-color;
        text-decoration: none;
        max-width: 250px;
        text-align: center;
        border-radius: 3px;
        font-size: 18px;
        padding: 14px 0;
        letter-spacing: 0.7px;
        margin-bottom: 19px;
        margin-top: 48px;
    }

    & small {
        font-family: "Open Sans", sans-serif;
        font-style: italic;
    }

    &__page-name {
        color: #696980;
        font-size: 18px;
        letter-spacing: 1.1px;
    }
}

.block-book {
    display: flex;
    justify-content: flex-start;
    margin-top: 180px;

    &-demo {
        display: block;
        flex-basis: 500px;
        width: 447px;
        height: 639px;
        background-image: url("../img/book.png");
        background-repeat: no-repeat;
    }
}

.block-author {
    display: flex;
    justify-content: space-between;
}

.block-ava {
    position: relative;

    &__bg {
        background: $linear-gradient;
        position: absolute;
        z-index: -1;
        right: 0;
        width: 435px;
        height: 558px;
    }

    &__img {
        margin-top: 50px;
        margin-right: 45px;
    }
}

.block-counter {
    display: flex;
    justify-content: space-around;
    margin-top: 160px;
    margin-bottom: 155px;

    p {
        font-family: "Open Sans", sans-serif;
        color: #696980;
        font-size: 18px;
        text-align: center;

        span {
            display: block;
            color: $light-color;
            font-size: 80px;
            font-family: "Roboto Slab", serif;
            font-weight: 100;
            margin-bottom: 10px;
        }
    }
}