<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <title>Bukee</title>
        <meta content="#fff" name="theme-color">
        <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
        <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
              name="viewport">
        <link href="../img/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <link href="../img/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
        <link href="../img/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
        <link href="../img/favicon/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed">
        <link href="../img/favicon/apple-touch-icon.png" rel="apple-touch-icon">
        <link href="../img/favicon/apple-touch-icon-57x57.png" rel="apple-touch-icon" sizes="57x57">
        <link href="../img/favicon/apple-touch-icon-60x60.png" rel="apple-touch-icon" sizes="60x60">
        <link href="../img/favicon/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
        <link href="../img/favicon/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
        <link href="../img/favicon/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
        <link href="../img/favicon/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
        <link href="../img/favicon/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
        <link href="../img/favicon/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
        <link href="../img/favicon/apple-touch-icon-167x167.png" rel="apple-touch-icon" sizes="167x167">
        <link href="../img/favicon/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
        <link href="../img/favicon/apple-touch-icon-1024x1024.png" rel="apple-touch-icon" sizes="1024x1024">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Roboto+Slab:100,400,700&display=swap"
              rel="stylesheet">
        <link href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all" rel="stylesheet">
        <link href="../styles/main.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" rel="stylesheet"
              type="text/css"/>
    </head>
    <body>
        <div class="page-main">
            <div class="wrap">
                <header>
                    <div class="header">
                        <a class="header__logo" href=""></a>
                        <ul class="header-list">
                            <li class="header-list__item active"><a class="header-list__link" href="">Home</a></li>
                            <li class="header-list__item"><a class="header-list__link" href="#about">About</a></li>
                            <li class="header-list__item"><a class="header-list__link" href="#contents">Contents</a>
                            </li>
                            <li class="header-list__item"><a class="header-list__link" href="#books">Books</a></li>
                            <li class="header-list__item"><a class="header-list__link" href="#education">Education</a>
                            </li>
                            <li class="header-list__item"><a class="header-list__link" href="#skills">Skills</a></li>
                            <li class="header-list__item"><a class="header-list__link" href="#portfolio">Portfolio</a>
                            </li>
                            <li class="header-list__item"><a class="header-list__link" href="#clients">Clients</a></li>
                            <li class="header-list__item"><a class="header-list__link" href="#contacts">Contacts</a>
                            </li>
                        </ul>
                    </div>
                </header>
                <div class="block-book">
                    <div class="block-book-demo">
                        <h2 class="block-book-demo__title">Good book<span>Don’t judge a book by its cover</span></h2>
                        <p class="block-book-demo__author">- By Emma Anderson</p>
                    </div>
                    <div class="block-text">
                        <p class="block-text__name">- By Emma Anderson</p>
                        <h1 class="block-text__title block-text__title--main-other-style">BUKEE: THE BOOK
                            <span>A room without books is like a body without a soul</span>
                        </h1>
                        <p class="block-text__description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <p class="block-text__description">
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum. Sed ut
                        </p>
                        <a class="block-text__btn" href="">Buy this book - $15.00</a>
                        <small>* Some conditions may applicable</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-about" id="about">
            <div class="about">
                <div class="wrap">
                    <div class="block-author">
                        <div class="block-text">
                            <p class="block-text__page-name">- Book Author</p>
                            <h2 class="block-text__title block-text__title--about-other-style">
                                Emma Anderson<span>A room without books is like a body without a soul</span>
                            </h2>
                            <p class="block-text__description block-text__description--color">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt
                                ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <p class="block-text__description block-text__description--color">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                nulla
                                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                deserunt
                                mollit anim id est laborum. Sed ut
                            </p>
                            <a class="block-text__btn block-text__btn-shadow-color" href="">Read full biography</a>
                        </div>
                        <div class="block-ava">
                            <div class="block-ava__bg"></div>
                            <img class="block-ava__img" height="466" src="../img/avatar.png" width="438"/>
                        </div>
                    </div>
                    <div class="block-counter">
                        <p><span>12</span>Total published books</p>
                        <p><span>5</span>Best selling books</p>
                        <p><span>15,000</span>Happy readers</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-contents page_gray" id="contents">
            <div class="contents">
                <div class="wrap">
                    <h2 class="page-contents__title">Book Contents</h2>
                    <p class="page-contents__subtitle">Let’s see what we have covered in the book</p>
                    <div class="block-about">
                        <div class="block-about-text">
                            <h3>About the book</h3>
                            <p class="block-about-text__desc">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna ali qua. Ut enim ad minim veniam, quis nostrud
                                exercitation ull amco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillu m dolore eu fugiat nulla pariatur.
                            </p>
                            <div class="block-about-social">
                                <p class="block-about-social__title">Featured in:</p>
                                <ul>
                                    <li><a href=""><i class="fab fa-stack-overflow"></i></a></li>
                                    <li><a href=""><i class="fab fa-amazon"></i></a></li>
                                    <li><a href=""><i class="fab fa-sass"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="block-about-table">
                            <h3>Table of contents</h3>
                            <ol class="block-about-table__list">
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Consectetur adipisicing elit</li>
                                <li>Labore et dolore magna</li>
                                <li>Consectetur adipisicing elit</li>
                                <li>Labore et dolore magna</li>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Consectetur adipisicing elit</li>
                                <li>Labore et dolore magna</li>
                                <li>Consectetur adipisicing elit</li>
                                <li>Labore et dolore magna</li>
                            </ol>
                            <button class="block-about-table__btn">More</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="page-books" id="books">
            <div class="books">
                <div class="wrap">
                    <h2 class="page-books__title">Other Books<span>Some books you might be interested in</span></h2>
                    <div class="block-book-demo-mini-container">
                        <div class="block-book-demo-mini">
                            <h2 class="block-book-demo-mini__title">Inception<span>Books are the best friends</span>
                            </h2>
                            <p class="block-book-demo-mini__author">- By Emma Anderson</p>
                        </div>
                        <div class="block-book-demo-mini">
                            <h2 class="block-book-demo-mini__title">Fight Club<span>Books are the best friends</span>
                            </h2>
                            <p class="block-book-demo-mini__author">- By Emma Anderson</p>
                        </div>
                        <div class="block-book-demo-mini">
                            <h2 class="block-book-demo-mini__title">Daredevils<span>Books are the best friends</span>
                            </h2>
                            <p class="block-book-demo-mini__author">- By Emma Anderson</p>
                        </div>
                    </div>

                    <div class="block-book-demo-mini-information">
                        <div class="block-book-demo-mini-information-container">
                            <h2 class="block-book-demo-mini-information__title">Inception</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore</p>
                            <a href="">READ MORE</a>
                        </div>
                        <div class="block-book-demo-mini-information-container">
                            <h2 class="block-book-demo-mini-information__title">Fight Club</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore</p>
                            <a href="">READ MORE</a>
                        </div>
                        <div class="block-book-demo-mini-information-container">
                            <h2 class="block-book-demo-mini-information__title">Daredevils</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore</p>
                            <a href="">READ MORE</a>
                        </div>
                    </div>
                    <a class="page-books__btn" href="">Browse all books</a>
                </div>
            </div>
        </div>

        <div class="page-education page-carousel" id="education">
            <div class="page-education-bg">

            </div>
            <div class="education">
                <div class="wrap">
                    <div class="block-slider">
                        <div>
                            <div class="block-slider-ava">
                                <div class="block-slider-thumb">
                                    <img alt="" src="../img/girl.png">
                                </div>
                                <span class="block-slider-bq"></span>
                            </div>
                            <h2>Kate Dennings</h2>
                            <p class="block-slider-expert">Calligraphy Expert</p>
                            <p class="block-slider-opinion">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                                viverra maecenas accumsan lacus vel facilisis.
                            </p>
                        </div>
                        <div>
                            <div class="block-slider-ava">
                                <div class="block-slider-thumb">
                                    <img alt="" src="../img/girl.png">
                                </div>
                                <span class="block-slider-bq"></span>
                            </div>
                            <h2>Kate Dennings</h2>
                            <p class="block-slider-expert">Calligraphy Expert</p>
                            <p class="block-slider-opinion">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                                viverra maecenas accumsan lacus vel facilisis.
                            </p>
                        </div>
                        <div>
                            <div class="block-slider-ava">
                                <div class="block-slider-thumb">
                                    <img alt="" src="../img/girl.png">
                                </div>
                                <span class="block-slider-bq"></span>
                            </div>
                            <h2>Kate Dennings</h2>
                            <p class="block-slider-expert">Calligraphy Expert</p>
                            <p class="block-slider-opinion">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                                viverra maecenas accumsan lacus vel facilisis.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-education-bg-reversed">

            </div>
        </div>

        <div class="page-skills" id="skills">
            <div class="skills">
                <div class="wrap">
                    <div class="block-skills">
                        <div class="block-skills-ava">
                            <div class="block-skills-ava__bg"></div>
                            <img class="block-skills-ava__img" height="606" src="../img/avatar-2.png" width="440"/>
                        </div>
                        <div class="block-text-skills-width">
                            <p class="block-text__page-skills-name">- Emma Anderson</p>
                            <h2 class="block-text__title block-text__title--about-other-style">
                                Upcoming Events<span>Some upcoming events you might be interested in</span>
                            </h2>
                            <div class="block-text-item">
                                <p class="block-text-item__date">November 21, 2018</p>
                                <h4 class="block-text-item__title">Book signing - San francisco, CA</h4>
                                <p class="block-text-item__desc">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices
                                    gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                                </p>
                                <a class="block-text-item__btn" href="">Register</a>
                            </div>
                            <div class="block-text-item block-text-item__margin-top">
                                <p class="block-text-item__date">November 21, 2018</p>
                                <h4 class="block-text-item__title">Book reading - Los Angeles, CA</h4>
                                <p class="block-text-item__desc">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices
                                    gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                                </p>
                                <a class="block-text-item__btn" href="">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-portfolio page_gray" id="portfolio">
            <div class="portfolio">
                <div class="wrap">
                    <h2 class="page-portfolio__title">Latest from Blog<span>Some of the latest posts from my personal blog</span>
                    </h2>
                    <div class="block-blog">
                        <div class="block-blog-item">
                            <div class="block-blog-img"><img alt="" src="../img/coffe.jpg"></div>
                            <h4>Importance of light in photography</h4>
                            <div class="block-blog__info">
                                <p>By <a href="">Emma Anderson</a></p><span>-</span><a href="">June 20, 2018</a>
                            </div>
                            <p class="block-blog__desc">
                                Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor
                                incididunt
                                ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                            </p>
                        </div>
                        <div class="block-blog-item">
                            <div class="block-blog-img"><img alt="" src="../img/ice-cream.jpg"></div>
                            <h4>The tools you need for the perfection</h4>
                            <div class="block-blog__info">
                                <p>By <a href="">Emma Anderson</a></p><span>-</span><a href="">June 25, 2018</a>
                            </div>
                            <p class="block-blog__desc">
                                Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor
                                incididunt
                                ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                            </p>
                        </div>
                        <div class="block-blog-item">
                            <div class="block-blog-img"><img alt="" src="../img/cake.jpg"></div>
                            <h4>Knowing the difference is important</h4>
                            <div class="block-blog__info">
                                <p>By <a href="">Emma Anderson</a></p><span>-</span><a href="">August 22, 2018</a>
                            </div>
                            <p class="block-blog__desc">
                                Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor
                                incididunt
                                ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                            </p>
                        </div>
                    </div>
                    <a class="page-portfolio__btn" href="">Read more in the blog</a>
                </div>
            </div>
        </div>

        <div class="page-clients" id="clients">
            <div class="clients">
                <div class="wrap">
                    <div class="block-letter">
                        <div class="block-letter-item">
                            <h2 class="page-clients__title">Join Newsletter</h2>
                            <p class="block-letter__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo
                                viverra maecenas accumsan lacus vel facilisis.
                            </p>
                        </div>
                        <div class="block-letter-item">
                            <input class="block-letter__input" placeholder="Enter your email" type="text">
                            <button class="block-letter__btn">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer" id="contacts">
            <div class="contacts">
                <div class="wrap">
                    <div class="block-footer">
                        <div>
                            <div class="block-footer__max-width">
                                <a class="block-footer__logo" href=""></a>
                                <p class="block-footer__text">
                                    Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat.
                                </p>
                                <p class="block-footer__copy">© 2018 Bukee Private Limited.</p>
                            </div>
                        </div>
                        <div>
                            <h2 class="block-footer__title">Useful Links</h2>
                            <ul class="block-footer__list ">
                                <li>About Bukee</li>
                                <li>Explore Our Ecosystem</li>
                                <li>Monthly Community Meetup</li>
                                <li>Privacy Policy</li>
                            </ul>
                        </div>
                        <div>
                            <h2 class="block-footer__title">Our Contacts</h2>
                            <ul class="block-footer__list block-footer__list-line-height ">
                                <li>Amphitheatre Parkway, CA, 94043</li>
                                <li> Call us on: +4455663322</li>
                                <li>Email: support@bukee.mail</li>
                            </ul>
                            <ul class="block-footer__social">
                                <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href=""><i class="fab fa-twitter"></i></a></li>
                                <li><a href=""><i class="fab fa-twitch"></i></a></li>
                                <li><a href=""><i class="fab fa-youtube"></i></a></li>
                                <li><a href=""><i class="fab fa-slack-hash"></i></a></li>
                                <li><a href=""><i class="fab fa-whatsapp"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @@include("../blocks/modules/header/header.html")
        @@include("../blocks/modules/footer/footer.html")

        <script src="../js/main.js"></script>
        <script src="../js/vendor.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
                type="text/javascript"></script>
        <script>
            $(document).ready(function () {
                $('.block-slider').slick({
                    dots: true,
                    arrows: false
                });
            });
        </script>
    </body>
</html>