<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <title>Bukee</title>
        <meta content="#fff" name="theme-color">
        <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
        <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
              name="viewport">
        <link href="../img/favicons/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <link href="../img/favicons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
        <link href="../img/favicons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
        <link href="../img/favicons/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed">
        <link href="../img/favicons/apple-touch-icon.png" rel="apple-touch-icon">
        <link href="../img/favicons/apple-touch-icon-57x57.png" rel="apple-touch-icon" sizes="57x57">
        <link href="../img/favicons/apple-touch-icon-60x60.png" rel="apple-touch-icon" sizes="60x60">
        <link href="../img/favicons/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
        <link href="../img/favicons/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
        <link href="../img/favicons/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
        <link href="../img/favicons/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
        <link href="../img/favicons/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
        <link href="../img/favicons/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
        <link href="../img/favicons/apple-touch-icon-167x167.png" rel="apple-touch-icon" sizes="167x167">
        <link href="../img/favicons/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
        <link href="../img/favicons/apple-touch-icon-1024x1024.png" rel="apple-touch-icon" sizes="1024x1024">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Roboto+Slab:100,400,700&display=swap"
              rel="stylesheet">
        <link href="../styles/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="page-main">
            <div class="wrap">
                <header>
                    <div class="header">
                        <a class="header__logo" href=""></a>
                        <ul class="header-list">
                            <li class="header-list__item active"><a class="header-list__link" href="">Home</a></li>
                            <li class="header-list__item"><a class="header-list__link" href="#about">About</a></li>
                            <li class="header-list__item"><a class="header-list__link" href="#contents">Contents</a>
                            </li>
                            <li class="header-list__item"><a class="header-list__link" href="">Books</a></li>
                            <li class="header-list__item"><a class="header-list__link" href="">Education</a></li>
                            <li class="header-list__item"><a class="header-list__link" href="">Skills</a></li>
                            <li class="header-list__item"><a class="header-list__link" href="">Portfolio</a></li>
                            <li class="header-list__item"><a class="header-list__link" href="">Clients</a></li>
                            <li class="header-list__item"><a class="header-list__link" href="">Contacts</a></li>
                        </ul>
                    </div>
                </header>
                <div class="block-book">
                    <div class="block-book-demo"></div>
                    <div class="block-text">
                        <p class="block-text__name">- By Emma Anderson</p>
                        <h1 class="block-text__title block-text__title--main-other-style">BUKEE: THE BOOK
                            <span>A room without books is like a body without a soul</span>
                        </h1>
                        <p class="block-text__description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <p class="block-text__description">
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum. Sed ut
                        </p>
                        <a class="block-text__btn" href="">Buy this book - $15.00</a>
                        <small>* Some conditions may applicable</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-about" id="about">
            <div class="wrap">
                <div class="block-author">
                    <div class="block-text">
                        <p class="block-text__page-name">- Book Author</p>
                        <h2 class="block-text__title block-text__title--about-other-style">
                            Emma Anderson<span>A room without books is like a body without a soul</span>
                        </h2>
                        <p class="block-text__description block-text__description--color">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <p class="block-text__description block-text__description--color">
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum. Sed ut
                        </p>
                        <a class="block-text__btn" href="">Read full biography</a>
                    </div>
                    <div class="block-ava">
                        <div class="block-ava__bg"></div>
                        <img class="block-ava__img" src="../img/avatar.png" height="466" width="438"/>
                    </div>
                </div>
                <div class="block-counter">
                    <p><span>12</span>Total published books</p>
                    <p><span>5</span>Best selling books</p>
                    <p><span>15,000</span>Happy readers</p>
                </div>
            </div>
        </div>

        <div class="page-contents page-gray" id="contents">
            <div class="wrap">
                <h2 class="page__title">book contents</h2>
                <p class="page__subtitle">Let’s see what we have covered in the book</p>
                <div class="block-about">
                    <div>
                        <h3>About the book</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut
                            labore et dolore magna ali qua. Ut enim ad minim veniam, quis nostrud exercitation ull amco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillu m dolore eu fugiat nulla pariatur.

                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                            anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                            veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                            quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
                            ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
                            sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                            labore et dolore magnam aliquam quaerat voluptatem.
                        </p>
                        <div>
                            <p>Featured in:</p>
                            <ul>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <h3>Table of contents</h3>
                        <ol>
                            <li>1. Lorem ipsum dolor sit amet</li>
                            <li>2. Consectetur adipisicing elit</li>
                            <li>3. Labore et dolore magna</li>
                            <li>4. Consectetur adipisicing elit</li>
                            <li>5. Labore et dolore magna</li>
                            <li>6. Lorem ipsum dolor sit amet</li>
                            <li>7. Consectetur adipisicing elit</li>
                            <li>8. Labore et dolore magna</li>
                            <li>9. Consectetur adipisicing elit</li>
                            <li>10. Labore et dolore magna</li>
                        </ol>
                        <button>More</button>
                    </div>
                </div>
            </div>
        </div>

        @@include("../blocks/modules/header/header.html")
        @@include("../blocks/modules/footer/footer.html")

        <script src="../js/main.js"></script>
        <script src="../js/vendor.js"></script>
    </body>
</html>